#background-container{
    width: 100%;
    height: 10%;
    top: 0;
    background: purple;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

#buffer-description-text{
    margin-top: 2%;
}

#top-score-text{
    margin-top: 2%;
}

.header-text-container, .footer-text-container{
    vertical-align: middle;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.footer-text-container{
    height: 100%;
}

#header-left-container{
    cursor: pointer;
}

#header-right-container{
    display: flex;
    flex-direction: column;
}

.header-text, .footer-text{
    align-self: center;
}

#buffer{
    background: grey;
    height: 20%;
    width: 100%;
}

#buffer-header{
    padding-top: 30px;
}