#background-container{
    width: 100%;
    height: 10%;
    /* position: absolute; */
    left: 0;
    background: purple;
}

h1, h2, p{
    color: white;
    vertical-align: middle;
    text-align: center;
    margin-top: 0px;
}

.header-text-container{
    overflow: hidden;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    width: 23%;
    height: 100%;
    vertical-align: middle;
    display: table;
    text-align: center;
    cursor: default;
}

#header-left-container{
    cursor: pointer;
}

.header-text{
    /* float: left; */
    vertical-align: middle;
    display: table-cell;
}

#buffer{
    background: grey;
    height: 20%;
    width: 100%;
}

#buffer-header{
    padding-top: 30px;
}

#footer-container{
    width: 100%;
    height: 10%;
    background: purple;
    position: fixed;
    bottom: 0;
    left: 0;
}

#tiles-container{
    overflow: hidden;
    width: 80%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}